/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url('assets/html_table.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Dark gray text for readability */
    font-size: 1rem; /* Base font size */
    line-height: 1.6; /* Increased line height for better readability */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ec9f5; /* Primary blue */
    color: #ffffff;
    padding: 0.8rem 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
}

.navbar__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu {
    list-style: none;
    display: flex;
    margin-left: 0;
}

.navbar__item {
    margin-left: 1rem;
    font-weight: 500;
}

.navbar__item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 620;
    transition: color 0.3s;
}

.navbar__item a:hover {
    color: #e0e7ff; /* Lighter blue */
}

/* Main Content Styles */
main {
    margin: 2rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #ffffff; /* White background for content area */
    border-radius: 8px; /* Rounded corners for the content area */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Subtle shadow around the content area */
    margin-top:70px;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #4ec9f5; /* Primary blue for headings */
}

h1 {
    font-size: 2rem; /* Larger font size for main headings */
    border-bottom: 2px solid #4ec9f5; /* Blue underline for main headings */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem; /* Slightly smaller font size for subheadings */
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

p {
    margin-bottom: 1rem;
}
